<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Добавлен xmlns -->
<head>
    <meta charset="UTF-8">
    <title>Наши товары – Сельмаг</title>
</head>
<body>
<!-- Добавлены ссылки для навигации -->
<div style="margin-bottom: 15px;">
    <a data-th-href="@{/customer/products/favourites}" style="margin-right: 15px;">Избранные товары</a>
    <a data-th-href="@{/recommendations/list}">Рекомендации и Статистика</a> <!-- НОВАЯ ССЫЛКА -->
</div>
<hr>

<h1>Наши товары</h1>
<form>
    <label>Фильтр: <input type="text" name="filter" data-th-value="${filter}"> <button type="submit">Поиск</button></label>
</form>
<ul>
    <li data-th-each="product : ${products}">
        <strong>
            <a data-th-text="${product.title}"
               data-th-href="@{/customer/products/{productId}(productId=${product.id})}"></a>
        </strong>
        <p data-th-text="${product.details}"></p>
    </li>
</ul>
</body>
</html>